
.literabag {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    max-width: 88%;
    border-radius: 20px;
    background-color: red;
    padding: 30px;
    background: url(../public/image/baground.svg); 
}

.serverimg {
    object-fit: contain;
    background: url(../public/image/Ellipse\ 128.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 338px;
    width: 338px;
    border-radius: 50%;
    border: 12px solid #fff;
}

.title {
    background: #FFFFFFCC;
    width: 1199px;
    border-radius: 20px;
}

.tittlecon {
    height: 264px;
    width: 1106.1634521484375px;
    margin: 40px auto;
    width: 90%;
}
.df{
    display: flex;
    justify-content: space-between;
}
.serverhead {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.serverhead h2 {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 540;
    line-height: 45px;
    letter-spacing: 0.02em;
    text-align: left;
}

.serverhead button {
    height: 63px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    width: 183.16342163085938px;
    border-radius: 12px;
    background: #49BBBD;
    border: none;
    color: white;
}

.tittlecon p {
    padding: 15px 0;
}

.tittlecon b {
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}
.ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 25px;
    width: 60%;
}
.ul li{
    display: flex;
}
.ul li i{
    margin-top: 15px;
    
}
.web{
    display: flex;
    list-style-type: none;
    border: 1px solid #000;
}