@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.contai {
    margin: 0 auto;
    width: 88%;
}

.literabag {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    max-width: 100%;
    border-radius: 20px;
    padding: 30px;
    background: url(../public/image/baground.svg);
<<<<<<< HEAD
    background-size: cover;
    background-repeat: no-repeat;
=======
    object-fit: cover;
>>>>>>> 829c0d6c5224a44e0fdb4df4a4b08333cd047394
}

.serverimg {
    object-fit: contain;
    background: url(../public/image/Ellipse\ 128.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 338px;
    width: 338px;
    border-radius: 50%;
    border: 12px solid #fff;
}

.title {
    background: #FFFFFFCC;
    width: 1199px;
    border-radius: 20px;
    padding-left: 50px;
    padding-top: 66px;
}

/* .tittlecon {
    height: 264px;
    width: 1106px;
    margin: 40px auto;
    width: 90%;
} */

.df {
    display: flex;
    justify-content: space-between;
}

.serverhead {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.serverhead h2 {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0.02em;
    text-align: left;
}

.serverhead button {
    height: 63px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    width: 183.16342163085938px;
    border-radius: 12px;
    background: #49BBBD;
    border: none;
    color: white;
}

.tittlecon p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    padding: 15px 0;
}

.tittlecon b {
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}

.ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 25px;
    padding: 0;
    width: 60%;
}

.ul li {
    cursor: pointer;
    display: flex;
}

.ul li i {
    margin-top: 18px;
    margin-right: 5px;
}

.ul li p {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;

}

.web {
    width: 20%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.web li {
    margin-top: 30px;
}

.book {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
.book a{
    text-decoration: none;
}
.div a{
    text-decoration: none;
}
.book p {
    padding: 16px;
    margin-top: 50px;
    margin-right: 25px;
    height: 63px;
    width: 183.16342163085938px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 12px;
    background: #BBBBBB80;
    cursor: pointer;
    transition: all ease 0.5s;

}

.book p:hover {
    background: #49BBBD;
    color: white;
    transition: all ease 0.5s;
}
.boo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}
.h2{
    margin-top: 50px;
}
.boo li {
    box-shadow: 2px 2px 10px 2px #00000040;
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    height: 676.7140502929688px;
    width: 503px;
    border-radius: 10px;
}

.boo img {
    margin: 22px;
    object-fit: cover;
    height: 518.6414184570312px;
    width: 450.87091064453125px;
    border-radius: 10px;
}

.div {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.div b {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000000CC;
}

.div p {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 800;
    line-height: 45px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #49BBBDCC;
}
