@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.membership {
  &__container {
    &__wrapper {
      &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 800;
          font-size: 54px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: -1px;
          color: #49bbbd;
        }
      }
      &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-top: 77px;
        list-style-type: none;
        li {
          background: #ffffff;
          border-radius: 8px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          width: 370px;
          padding-top: 32px;
          padding-bottom: 32px;
          transition: all 0.3s ease;
          cursor: pointer;
          margin-bottom: 100px;
          &:hover {
            transform: scale(1.1);
            transition: all 0.3s ease;
            box-shadow: 5px 8px 4px #0000002b;
          }
          span {
            a {
              font-family: "Inter";
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 32px;
              display: flex;
              align-items: center;
              letter-spacing: 0.2px;
              color: #49bbbd;
              text-decoration: none;
            }
            section {
              height: 250px;
              display: flex;
              flex-direction: column;
              margin-top: 15px;
              div {
                margin-top: 15px;
                display: flex;
                i {
                  background: #c2c2c2;
                  border-radius: 999px;
                  width: 32px;
                  height: 32px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: #000;
                  margin-right: 16px;
                }
              }
            }
            .free {
              display: flex;
              align-items: center;
              margin-top: 10px;
              h2 {
                padding: 0;
                padding-top: 16px;
                font-family: "Inter";
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                color: #2d3436;
                padding-right: 10px;
              }
              p {
                margin-top: 35px;
                font-family: "Inter", sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                color: #2d3436;
                padding: 0;
              }
            }
          }
          .link {
            margin-top: 100px;
            display: block;
            width: 70%;
            height: 40px;
            border: 1px solid #adadad;
            border-radius: 16px;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease;
            &:hover {
              background: #49bbbd;
              transition: all 0.3s ease;
              color: #ffffff;
            }
          }
        }
        .card2 {
          .link {
            width: 70%;
          }
          span {
            .free {
              margin: 0;
            }
            .month {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              padding: 0;
              p {
                margin-left: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #6c5ce7;
                border-radius: 99px;
                padding: 4px 26px;
                font-family: "Inter";
                font-style: normal;
                font-weight: 800;
                font-size: 12px;
                line-height: 15px;
                display: flex;
                align-items: flex-end;
                text-align: center;
                letter-spacing: 2.5px;
                text-transform: uppercase;
                color: #2d3436;
              }
            }
            div {
              i {
                background: #fdcb6e;
              }
            }
          }
        }
      }
      &__card {
        width: 100%;
        background: #252641;
        border-radius: 37px;
        padding-top: 50px;
        padding-bottom: 73px;
        margin-bottom: 77px;
        margin-top: 50px;
        padding-left: 100px;
        padding-right: 100px;
        &__text {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          h4 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 54px;
            color: #ffffff;
          }
          p {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 180%;
            text-align: center;
            letter-spacing: 0.02em;
            color: #ffffff;
            margin-top: 15px;
          }
          a {
            background: #49bbbd;
            border-radius: 12px;
            width: 236px;
            height: 63px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
            margin-top: 73px;
            transition: all 0.3s ease-in-out;
            &:hover {
              transition: all 0.3s ease-in-out;
              background-color: transparent;
              border: 1px solid #49bbbd;
              color: #49bbbd;
            }
          }
        }
      }
      &__accordion {

        div {
          h3 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 54px;
            color: #2d3436;
            text-align: center;
            margin-bottom: 80px;
            margin-top: 50px;
          }
        }
      }
    }
  }
}
